* {
    padding: 0;
    margin: 0;
}

body {
    font: 20px/1.5 'Open Sans', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black
}

a:hover {
    color: #bd2631;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.clearfix:after, .clearfix:before {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

.promo-bar {
    background: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    padding: 18px 1%;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 99;
}

.promo, .close {
    color: #ffffff;
    display: inline-block;
}

.close {
    float: right;
}

.promo {
    text-align: center;
    position: absolute;
    left: 35%;
    letter-spacing: 0.2em;
    font-weight: bold;
}

/*_________________________________________________________логотип-навигация____________________________________*/
.logo-nav {
    padding: 67px 85px;position: absolute;right: 0;    left: 0;    z-index: 99;
}
.logo{padding: 0 85px;
     background: rgba(15, 118, 255, 0.7);
     position: absolute;
     right: 0;
     left: 0;
     z-index: 99;}
.logo-nav nav ul li{display: inline-block;color: white;  padding-top: 15px;padding-left: 25px; font-weight: bold;}

.menu ul  {
    float: right;padding-right: 16.5%;
}

/*ul li a {
    padding: 20px 14px 16px;
}*/

.menu li a {
    color: #ffffff;
    font-weight: bold;letter-spacing: 0.1em;
}
/*
.nav ul li {
     margin-top: 10px;
     position: relative;
 }*/

/*_________________________________________________________корзина____________________________________*/
.buy {
    float: right;
    cursor: pointer;
    line-height: 4;
    position: absolute;
    padding-left: 80%;
}

/*_________________________________________________________СЛАЙДЕР____________________________________*/
.slider {
    position: relative;
}

.slider-item {
    background: url("img/slider.png") right/cover no-repeat;
    height: 900px;
    position: relative;
}

.slider-content {
    background: rgba(73, 135, 255, 0.71);
    display: flex;
    flex-flow: column wrap;
    color: #fff;
    font-size: 20px;
    padding: 0 90px;
    height: 100%;
    justify-content: center;
}
.slider-content img{padding: 9% 0 0 15%}
.DISPOSABLE{position: relative; left: 25%}
.absorbing {
    width: 70%;
}

.slider-content p {
    font-size: 2.5em
}
.arrows {
    font-size: 25px;
    color: #fff;
    position: absolute;
    top: 50%;
    z-index: 99;
    cursor: pointer;
}

.arrow-left {top: 25em;
    left: 52em;
}

.arrow-right {top: 25em;
    right: 19em;
}
/*_________________________________________________________tech features____________________________________*/
.tech-features{padding: 40px 65px}
.tech-features div{display: inline-block;}
.q {font-weight: bold;font-size: 2.5em;letter-spacing: 0.1em;padding-right: 45px;color: #4f8aff
}
.w{background: url(img/1.png) no-repeat left 44%;padding: 40px 60px 40px 75px}
.e{background: url(img/2.png) no-repeat left 44%;padding: 40px 60px 40px 75px}
.r{background: url(img/3.png) no-repeat left 44%;padding: 25px 60px 10px 75px;position: relative;top: 19px}
.t{background: url(img/4.png) no-repeat left 44%;padding: 25px 60px 10px 75px;position: relative;top: 23px}
.y{background: url(img/5.png) no-repeat left 44%;padding: 40px 0px 40px 75px}
.tm{font-size: 0.5em}

.safety-block{padding: 50px 80px;background-color: black}
.safety-block div{display: inline-block;color: white;font-weight: bold;font-size: 2.5em;letter-spacing: 0.05em; padding-left: 8%}
.PERFORMANCE{background: url("img/PERFORMANCE.png") no-repeat left 44%;padding: 20px 60px;margin-left: 7%}
.SAFETY{background: url("img/SAFETY.png") no-repeat left 44%;padding: 20px 0;margin-left: 6%}
.HYGIENE{background: url("img/HYGIENE.png") no-repeat left 44%;padding: 20px 0;margin-left: 6%}
/*_________________________________________________________GAME-CHANGER____________________________________*/
.left-block{float: left;padding: 2% 0.5% 0 10.5%}
.GAME {font-weight: bold;font-size: 3em;color: #4f8aff;letter-spacing: 0.1em;}
.SWEAT {letter-spacing: 0.25em;}
.Keeps{text-transform: uppercase;padding-top: 35px}
.Reduces{text-transform: uppercase;}
.only{padding-left: 5%;margin-top: 55px;width: 50%;font-size: 1.5em;color: #4f8aff;line-height: 1.3em;
    border-left: 5px solid #e6e6e6;}
.SHOP {float: left;padding: 1.3% 4.5% 1.3% 4.5%;margin: 3% 6% 1% 10%;font-size: 1.5em;border: 2px solid #4f8aff;border-radius: 60px}
.hundred{padding: 11% 0% 0% 12%;background-color: #e6e6e6;}
.vimeo{position: absolute;left: 50%;top: 69em;}
.GAME-CHANGER{background-color: #e6e6e6;}
/*_____________________________________________________________________________________________________*/
.used{text-transform: uppercase;font-weight: bold;font-size: 3em;color: #194cff;letter-spacing: 0.08em;padding: 1.5% 0 0 33.5%}
/*.video{float: right}*/
.tm{padding: 2.3% 0 15% 20.5%}
/*________________________________________________________nosweatco____________________________________*/
.gallery {background: url("img/men.png") right/cover no-repeat;    height: 900px;    position: relative;}
.foto img{padding: 5px}
.foto{padding: 15px 23%}
.gallery span{padding:30% 35% 0 36%;color: white;font-weight: bold;text-transform: uppercase;font-size: 2em;}
.icon {padding:7% 2% 0% 48.5%}
/*________________________________________________________buy-now____________________________________*/
.buy-now{padding: 1% 0 0 0}
.buy-now img{padding-left: 17px}
/*.buy-now div{padding: 1% 17px;background: rgba(31, 56, 255, 0.7);position: absolute;right: 0;left: 0;z-index: 99;
    text-transform: uppercase;}*/
.button1{position: relative;bottom: 44%;left: 15%;background: rgba(31, 56, 255, 0.9);z-index: 99;font-size: 1.5em;}
.buy-now span{position: relative;left:15%;bottom: 3%}
/*________________________________________________________vid____________________________________*/
/*.vid{height: 100%}*/
/*________________________________________________________text____________________________________*/
.text{text-transform: uppercase;font-weight: bold;font-size: 3em;color: #1423ff;letter-spacing: 0.08em;padding: 1.5% 0 0 27%}
.tmm{padding: 7% 0 10% 20.5%}
/*________________________________________________________vid____________________________________*/
footer {padding: 0 0 0 20%;background-color: #4f8aff;}
.footer div{float: left; /*Задаем обтекание*/
    /*line-height: 60px;Высота строки +  верт. центрирования текста*/
    font-size: 15px;    /*background: dodgerblue; */   color: white;    margin-top: 20px;    margin-right: 10px;
    margin-bottom: 40px;    margin-left: 0%;    padding-right: 45px;    /* width: 320px; Фиксируем ширину блока*/
    text-align: left; /*Центрируем текст по горизонтали*/}.center{line-height: 2.5;}
.center{position: relative;bottom: 6px;}
.right{position: relative;bottom: 18px;}
.right-bottom{position: relative;bottom: 55px;font-size: 15px;}
.phone{position: relative;bottom: 55px;font-size: 15px;}
.EMAIL{position: relative;bottom: 55px;font-size: 15px;}
.border{border-bottom: solid 1px;}
hr {margin-bottom: 15px;
    border: none; /* Убираем границу */
    background-color: rgba(0, 0, 0, 0.4); /* Цвет линии */
    color: #000000; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
}
.adress{position: relative;bottom: 25px;}
.facebook{color: white;position: relative;left: 35%;bottom: 1.5em}
.linkedin{position: relative;left: 33em;bottom: 1.5em}
.twitter{position: relative;left: 31em;bottom: 1.5em}
/*_____________________________________________________________________________RESPONSIV________________________*/
@media screen and (max-width: 1883px){
    .tech-features{padding: 40px 45px;}
    .foto{padding: 15px 20%}
    .buy-now{padding: 1% 0 0 1%}
    .buy-now img{padding-left: 0}
}
@media screen and (max-width: 1838px){
    .tech-features{padding: 40px 40px;}
    .buy-now{padding: 1% 0 0 0}
}
@media screen and (max-width: 1843px){
    .tech-features{padding: 40px 35px;}
    .now1{margin-left: 16%}
    .now3{margin-left: 32%}
}
@media screen and (max-width: 1828px){
    .tech-features{padding: 40px 15px;}
}
@media screen and (max-width: 1783px){
    .tech-features div{display: block;margin-left: 10%;float: left}
}
@media screen and (max-width: 1713px){
    .vimeo{position: absolute;top: 75em;left: 40%}
    .safety-block div{margin-left: 3%}
}
@media screen and (max-width: 1683px){
    .foto{padding: 15px 15%;padding-left: 20%}
}
@media screen and (max-width: 1603px){
    footer{padding-left: 10%}
    .buy{padding-left: 85%}
    .menu{padding-left: 15%}
    .DISPOSABLE {        position: relative;        left: 17%;}
    .foto{padding: 15px 10%;padding-left: 17%}
    .now1{margin-left: 11%}
}
@media screen and (max-width: 1418px){
    .vimeo{position: absolute;top: 92em;left: 38%}
    .arrow-left {top: 25em;        left: 43em;    }
    .arrow-right {top: 25em;        right: 9em;    }
    .used{padding-left: 25%}
    .tm{padding-left: 8%}
    .text{padding-left: 15%}
    .tmm{padding-left: 8%}
    .right-block{position: relative;top: 5em;}
    .right-bottom{position: relative;top: 9%;right: 51em}
    .phone, .EMAIL{position: relative;top: 0em;right: 6em}
.center{position: relative;left: 35%}
.linkedin{position: relative;left: 28em}
    .twitter{position: relative;left: 26em;}
    .safety-block div{margin-left: 0}
    .tech-features div{margin-left: 35%}
    
}
/*
.foo {
    width: 503px;
    height: 310px;
    background: url('http://vmuseum.ucoz.ru/img/tel.png') no-repeat;
    position: relative;
}
.foo .bar {
    background: #fdd;
    height: 220px;
    width: 310px;
    position: absolute;
    left: 45px;
    top: 43px;
}
*/
